body{
    background-color: #1f2937;
    margin-left: 0;
    margin-right: 0;
}

/* HEADER  BEGİNNİNG*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 8px;
    margin-right: 450px;
    margin-left: 450px;
}

.links{
    display: flex;
    gap: 32px;
    font-size: 18px;
    color: #e5e7eb;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

/* HEADER END */

/* HERO MAİN TEXT BEGİNNİNG */

.hero_main{
   display: flex;
   justify-content: space-between; 
   align-items: center;
   gap: 10px;
   border: 2px solid;
   margin-top: 100px;
   margin-left: 450px;
   margin-right: 450px ;
}

.main_content{
    max-width: 375px;
}

.main_text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.main_sec_text{
    font-size: 18px;
    font-weight: bolder;
    color: #e5e7eb;
    margin-top: 4px;
}

.main_button{
    font-size: 18px;
    color: #f9faf8;
    background-color: #3882f6;
    border: 1px solid royalblue;
    border-radius: 8px;
    padding: 6px 24px;
    margin-top: 14px;
}

.main_img{
    background-color: grey;
    padding: 100px 150px;
    border-radius: 10px;
}

/* HERO MAİN TEXT END */ 


/* INFORMATİON SECTİON BEGİNNİNG */ 

.info_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9faf8;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 64px;
   
}

.title_info{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 64px;
}

/* 4 boxes is here */
.boxes{
    display: flex;
    justify-content: center;
    gap: 52px;
    text-align: center;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 145px;
}

.img_box{
    border: 4px solid #3882f6;
    border-radius: 15px;
    padding: 80px 75px ;
}

.text{
    margin-top: 4px;
}

/* INFORMATİON SECTİON END*/


/* QUOTES SECTİON BEGİNNİNG */ 
.quote_section{
    background-color: #e5e7eb;
    padding: 240px;
    display: flex;
    justify-content: center;

}

.quote_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    border: 2px solid blue;
    max-width: 800px;
 
}

.quote_text{
    max-width: 800px;
    border: 2px solid;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.name{
    font-weight: bold;
    font-size: 20px;
    border: 2px solid; 
    align-self: flex-end;

}